In [1]:
import pandas as pd

In [20]:
df = pd.read_csv('../cksdu/dacongas/한국가스공사_시간별 공급량_20181231.csv', encoding = 'cp949')
sample_submission = pd.read_csv('../cksdu/dacongas/sample_submission.csv')
test = pd.read_csv('../cksdu/dacongas/test.csv')
weather13 = pd.read_csv('../cksdu/dacongas/기상청데이터.2013.csv', encoding = 'cp949')
weather14 = pd.read_csv('../cksdu/dacongas/기상청데이터.2014.csv', encoding = 'cp949')
weather15 = pd.read_csv('../cksdu/dacongas/기상청데이터.2015.csv', encoding = 'cp949')
weather16 = pd.read_csv('../cksdu/dacongas/기상청데이터.2016.csv', encoding = 'cp949')
weather17 = pd.read_csv('../cksdu/dacongas/기상청데이터.2017.csv', encoding = 'cp949')
weather18 = pd.read_csv('../cksdu/dacongas/기상청데이터.2018.csv', encoding = 'cp949')
gdp = pd.read_excel('../cksdu/dacongas/분기별 GDP.xlsx')
gas = pd.read_excel('../cksdu/dacongas/가스수급 동향및전망.xls')

In [7]:
sample_submission = pd.read_csv('../cksdu/dacongas/sample_submission.csv')

In [5]:
df

               연월일  시간 구분       공급량
0       2013-01-01   1  A  2497.129
1       2013-01-01   2  A  2363.265
2       2013-01-01   3  A  2258.505
3       2013-01-01   4  A  2243.969
4       2013-01-01   5  A  2344.105
...            ...  .. ..       ...
368083  2018-12-31  20  H   681.033
368084  2018-12-31  21  H   669.961
368085  2018-12-31  22  H   657.941
368086  2018-12-31  23  H   610.953
368087  2018-12-31  24  H   560.896

[368088 rows x 4 columns]

In [21]:
gdp

           일자     국내총생산  경제성장률
0  2013-01-01  355384.7    2.3
1  2013-04-01  373096.5    2.9
2  2013-07-01  379887.2    3.5
3  2013-10-01  392450.8    3.9
4  2014-01-01  373559.7    3.8
5  2014-04-01  388566.9    3.4
6  2014-07-01  393425.4    3.1
7  2014-10-01  407377.0    2.6
8  2015-01-01  394273.0    2.4
9  2015-04-01  411386.8    2.0
10 2015-07-01  420790.8    3.3
11 2015-10-01  431569.8    3.4
12 2016-01-01  413482.6    2.8
13 2016-04-01  434462.9    3.9
14 2016-07-01  439421.6    2.8
15 2016-10-01  453412.4    2.6
16 2017-01-01  433412.4    3.1
17 2017-04-01  454141.7    2.7
18 2017-07-01  473436.2    3.9
19 2017-10-01  475092.9    2.9
20 2018-01-01  449838.1    3.0
21 2018-04-01  473018.3    3.1
22 2018-07-01  485535.7    2.4
23 2018-10-01  489800.5    3.1
24 2019-01-01  454891.0    1.8
25 2019-04-01  479907.0    2.1
26 2019-07-01  487177.0    2.0
27 2019-10-01  497064.8    2.3

In [22]:
gas

,통계표명:,가스(LNG)수급 동향 및 전망,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,단위:,천톤,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2013,2014,2015,2016,2017,2018
2,도입량,NaN,"39,876","37,107","33,366","33,453","37,537","44,015"
3,수요량,계,"38,675","35,174","31,456","32,773","32,163","36,219"
4,NaN,도시가스용,"19,596","18,180","16,929","17,384","18,390","19,813"
5,NaN,발전용,"19,079","16,994","14,527","15,389","13,773","16,406"
6,출처:,"산업통상자원부 (한국가스공사, 관세청 자료)",NaN,NaN,NaN,NaN,NaN,NaN